trigger:
  - master

pr: none

resources:
  repositories:
  - repository: templates
    type: github
    endpoint: John D Watson
    name: johnwatson484/azure-devops-templates
    ref: refs/tags/1

extends:
  template: build.yaml@templates
  parameters:
    name: azure-service-bus-test-client
    deploy: true
    namespace: azure-service-bus
    hasSecureHelmValuesFile: true
