{% extends 'layout.njk' %}

{% block content %}

<div class="container">
  <div class="column">
    <h1 class="title is-2">Azure Service Bus Test Client</h1>

    <form id="frm-message">

      <div class="field">
        <label class="label">Connection String</label>
        <div class="control">
          <input class="input" type="text" name="connectionString" value="{{ body.connectionString }}">
        </div>
      </div>

      <div class="field">
        <label class="label">Queue/Topic name</label>
        <div class="control">
          <input class="input" type="text" name="address" value="{{ body.address }}">
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <h3 class="title is-4">Send message</h3>

          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" name="message">{{ body.message }}</textarea>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="format" value="json" checked>
                JSON
              </label>
              <label class="radio">
                <input type="radio" name="format" value="string">
                String
              </label>
            </div>
          </div>

          <div class="field">
            <label class="label">Total</label>
            <div class="control">
              <input class="input" style="width:200px;" type="number" name="totalSend" value="1">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-link" id="send">Send</button>
            </div>
          </div>

          <div id="result-send" class="column" style="display: none">
            <article class="message is-primary">
              <div id="result-text-send" class="message-body">
              </div>
            </article>
          </div>

        </div>
        <div class="column">
          <h3 class="title is-4">Receive message</h3>

          <div class="field">
            <label class="label">Subscription name (if Topic)</label>
            <div class="control">
              <input class="input" type="text" name="subscription" value="{{ body.subscription }}">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="complete" value="false" checked>
                Peek
              </label>
              <label class="radio">
                <input type="radio" name="complete" value="true">
                Complete
              </label>
            </div>
          </div>

          <div class="field">
            <label class="label">Total</label>
            <div class="control">
              <input class="input" style="width:200px;" type="number" name="totalReceive" value="1">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-link" id="receive">Receive</button>
            </div>
          </div>

          <div id="result-receive" class="column" style="display: none">
            <article class="message is-primary">
              <div id="result-text-receive" class="message-body">
              </div>
            </article>
            <article class="message is-primary result-messages">
            </article>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>

<script>
  $("#send").click(function (e) {
    e.preventDefault()
    $('#send').addClass('is-loading')
    $('#result-send').fadeOut(0)

    const form = $('#frm-message');
    const url = '/send'

    $.ajax({
      type: "POST",
      url: url,
      data: form.serialize(),
      success: function (data) {     
        $('#result-text-send').html(data)
        $('#send').removeClass('is-loading')
        $('#result-send').fadeIn(2000)
      }
    })
  })
  $("#receive").click(function (e) {
    e.preventDefault()
    $('#receive').addClass('is-loading')
    $('#result-receive').fadeOut(0)

    const form = $('#frm-message');
    const url = '/receive'

    $.ajax({
      type: "POST",
      url: url,
      data: form.serialize(),
      success: function (data) {
        $('#result-text-receive').html('')
        $('.result-messages').html('')
        if(data.errors){
          data.errors.forEach((error) => {
            $('#result-text-receive').append(`<p>${error}</p>`)
          })
        } else {
          $('#result-text-receive').html(`Total messages: ${data.messages.length}`)
          data.messages.forEach((message) => {
            $('.result-messages').append(`<div class="message-body">${JSON.stringify(message)}</div>`)
          })
        }
        $('#receive').removeClass('is-loading')
        $('#result-receive').fadeIn(2000)
      }
    })
  })
</script>

{% endblock %}
